# dependencies
/node_modules
package-lock.json

/src/lib/database/migrations

# testing
/coverage

# next.js
/.next/
/.swc/

.env

tsconfig.tsbuildinfo

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
